<script type="text/x-handlebars" data-template-name="components/suggested-topics">
  <h3 class="suggested-topics-title">{{{suggestedTitle}}}</h3>

  <div class="topics">
    {{#if topic.isPrivateMessage}}
      {{basic-topic-list
        hideCategory="true"
        showPosters="true"
        topics=topic.suggestedTopics}}
    {{else}}
      {{basic-topic-list topics=topic.suggestedTopics}}
    {{/if}}
  </div>
</script>

<script type="text/x-handlebars" data-template-name="mobile/components/basic-topic-list">
  {{#conditional-loading-spinner condition=loading}}
    {{#if topics}}
      <table class="topic-list">
        <tbody>
        {{#each topics as |t|}}
          <tr class="topic-list-item {{if t.archived 'archived'}} {{if t.visited 'visited'}}" data-topic-id={{t.id}}>
            <td>
              <div class='main-link'>
                {{topic-status topic=t}}
                {{topic-link t}}
                {{#if t.unseen}}
                  <span class="badge-notification new-topic"></span>
                {{/if}}
                {{#if t.hasExcerpt}}
                  <div class="topic-excerpt">
                    {{{t.excerpt}}}
                    {{#if t.excerptTruncated}}
                      {{#unless t.canClearPin}}<a href="{{unbound t.url}}">{{i18n 'read_more'}}</a>{{/unless}}
                    {{/if}}
                    {{#if t.canClearPin}}
                      <a href {{action "clearPin" t}} title="{{i18n 'topic.clear_pin.help'}}">{{i18n 'topic.clear_pin.title'}}</a>
                    {{/if}}
                  </div>
                {{/if}}
              </div>
              <div class='pull-right'>
                {{raw "list/post-count-or-badges" topic=t postBadgesEnabled="true"}}
              </div>
              <div class='clearfix'></div>
              <div class="topic-item-stats clearfix">
                {{discourse-tags t mode="list" tagsForUser=tagsForUser}}
                <div class="pull-right">
                  {{raw "list/activity-column" topic=t tagName="div" class="num activity last"}}
                  <a href="{{t.lastPostUrl}}" title='{{i18n 'last_post'}}: {{{raw-date t.bumped_at}}}'>{{t.creator.username}}</a>
                </div>
                {{#unless hideCategory}}
                  <div class='category'>
                    {{category-link t.category}}
                  </div>
                {{/unless}}
                {{#if showParticipants}}
                  <div class='participants'>
                    {{#each participants as |p|}}
                      <a href="{{unbound p.user.path}}" class="{{unbound p.extras}}">{{avatar p usernamePath="user.username" imageSize="small"}}</a>
                    {{/each}}
                  </div>
                {{/if}}
                <div class="clearfix"></div>
              </div>
            </td>
          </tr>
        {{/each}}
        </tbody>
      </table>
    {{else}}
      <div class='alert alert-info'>
        {{i18n 'choose_topic.none_found'}}
      </div>
    {{/if}}
  {{/conditional-loading-spinner}}
</script>

<script type="text/x-handlebars" data-template-name="discovery/topics">
  {{bulk-select-button selected=selected action="refresh" category=category}}

  {{#discovery-topics-list model=model refresh="refresh" incomingCount=topicTrackingState.incomingCount}}
    {{#if top}}
      <div class='top-lists'>
        {{period-chooser period=period action="changePeriod"}}
      </div>
    {{else}}
      {{#if topicTrackingState.hasIncoming}}
        <div class="show-more {{if hasTopics 'has-topics'}}">
          <div class='alert alert-info clickable' {{action "showInserted"}}>
            <a tabindex="0" href="" {{action "showInserted"}}>
              {{count-i18n key="topic_count_" suffix=topicTrackingState.filter count=topicTrackingState.incomingCount}}
            </a>
          </div>
        </div>
      {{/if}}
    {{/if}}
  
    {{#if hasTopics}}
      {{topic-list
        highlightLastVisited=true
        top=top
        showTopicPostBadges=showTopicPostBadges
        showPosters=true
        canBulkSelect=canBulkSelect
        changeSort="changeSort"
        toggleBulkSelect="toggleBulkSelect"
        hideCategory=model.hideCategory
        order=order
        ascending=ascending
        bulkSelectEnabled=bulkSelectEnabled
        selected=selected
        expandGloballyPinned=expandGloballyPinned
        expandAllPinned=expandAllPinned
        category=category
        topics=model.topics
        discoveryList=true}}
    {{/if}}
  {{/discovery-topics-list}}
  
  <footer class='topic-list-bottom'>
  
  </footer>  
</script>

<script type="text/x-handlebars" data-template-name="user">
  <div class="container {{if viewingSelf 'viewing-self'}}">
    {{#d-section class="user-main"}}
  
      <section class="collapsed-info about {{if hasProfileBackground 'has-background' 'no-background'}}"  style={{model.profileBackground}}>
        {{#if showStaffCounters}}
          <div class='staff-counters'>
            {{#if model.number_of_flags_given}}
              <div><span class="helpful-flags">{{model.number_of_flags_given}}</span>{{i18n 'user.staff_counters.flags_given'}}</div>
            {{/if}}
            {{#if model.number_of_flagged_posts}}
              <div>
                <span
                  class="flagged-posts">{{model.number_of_flagged_posts}}</span>{{i18n 'user.staff_counters.flagged_posts'}}
              </div>
            {{/if}}
            {{#if model.number_of_deleted_posts}}
              <div>
                {{#link-to 'user.deletedPosts' model}}
                  <span class="deleted-posts">{{model.number_of_deleted_posts}}</span>{{i18n 'user.staff_counters.deleted_posts'}}
                {{/link-to}}
              </div>
            {{/if}}
            {{#if model.number_of_suspensions}}
              <div>
                <a {{action "showSuspensions"}}>
                  <span class="suspensions">{{model.number_of_suspensions}}</span>{{i18n 'user.staff_counters.suspensions'}}
                </a>
              </div>
            {{/if}}
            {{#if model.warnings_received_count}}
              <div><span class="warnings-received">{{model.warnings_received_count}}</span>{{i18n 'user.staff_counters.warnings_received'}}</div>
            {{/if}}
          </div>
        {{/if}}
  
        <div class='profile-image'></div>
        <div class='details'>
          <div class='primary'>
            {{user-profile-avatar user=model}}
            <section class='controls'>
              <ul>
                {{#if model.can_send_private_message_to_user}}
                <li>
                  <a class='btn btn-primary compose-pm' {{action "composePrivateMessage" model}}>
                    {{d-icon "envelope"}}
                    {{i18n 'user.private_message'}}
                  </a>
                </li>
                {{/if}}
                {{#if currentUser.staff}}
                  <li><a href={{model.adminPath}} class="btn">{{d-icon "wrench"}}{{i18n 'admin.user.show_admin_profile'}}</a></li>
                {{/if}}
                {{plugin-outlet name="user-profile-controls"
                                connectorTagName="li"
                                args=(hash model=model)}}
              </ul>
            </section>
  
            <div class="primary-textual">
              <h1 class="{{if nameFirst "full-name" "username"}}">{{if nameFirst model.name (format-username model.username)}} {{user-status model currentUser=currentUser}}</h1>
              <h2 class="{{if nameFirst "username" "full-name"}}">{{#if nameFirst}}{{model.username}}{{else}}{{model.name}}{{/if}}</h2>
              {{#if model.staged}}
                <h2 class="staged">{{i18n 'user.staged'}}</h2>
              {{/if}}
              {{#if model.title}}
                <h3>{{model.title}}</h3>
              {{/if}}
              {{plugin-outlet name="user-post-names" args=(hash model=model)}}
              <h3 class="location-and-website">
              {{#if model.location}}{{d-icon "map-marker"}} {{model.location}}{{/if}}
              {{#if model.website_name}}
                {{d-icon "globe"}}
                {{#if linkWebsite}}
                  <a href={{model.website}} rel={{unless removeNoFollow 'nofollow noopener'}} target="_blank">{{model.website_name}}</a>
                {{else}}
                  <span title={{model.website}}>{{model.website_name}}</span>
                {{/if}}
              {{/if}}
              {{plugin-outlet name="user-location-and-website" args=(hash model=model)}}
              </h3>
  
              <div class='bio'>
                {{#if model.suspended}}
                  <div class='suspended'>
                    {{d-icon "ban"}}
                    <b>
                      {{#if model.suspendedForever}}
                        {{i18n 'user.suspended_permanently'}}
                      {{else}}
                        {{i18n 'user.suspended_notice' date=model.suspendedTillDate}}
                      {{/if}}
                    </b><br>
                    {{#if model.suspend_reason}}
                      <b>{{i18n 'user.suspended_reason'}}</b> {{model.suspend_reason}}
                    {{/if}}
                  </div>
                {{/if}}
                {{#if isNotSuspendedOrIsStaff}}
                  {{{model.bio_cooked}}}
                {{/if}}
              </div>
  
              {{#if publicUserFields}}
                <div class="public-user-fields">
                  {{#each publicUserFields as |uf|}}
                    {{#if uf.value}}
                      <div class="public-user-field {{uf.field.dasherized_name}}">
                        <span class="user-field-name">{{uf.field.name}}</span>:
                        <span class="user-field-value">{{uf.value}}</span>
                      </div>
                    {{/if}}
                  {{/each}}
  
                  {{plugin-outlet name="user-profile-public-fields"
                                  args=(hash publicUserFields=publicUserFields
                                        model=model)}}
                </div>
              {{/if}}
  
              {{plugin-outlet name="user-profile-primary" args=(hash model=model)}}
            </div>
          </div>
          <div style='clear: both'></div>
        </div>
  
        <div class='secondary'>
          <dl>
            {{#if model.created_at}}
              <div><dt>{{i18n 'user.created'}}</dt><dd>{{bound-date model.created_at}}</dd></div>
            {{/if}}
            <div><dt>{{i18n 'views'}}</dt><dd>{{model.profile_view_count}}</dd></div>
            {{#if model.invited_by}}
              <div><dt class="invited-by">{{i18n 'user.invited_by'}}</dt><dd class="invited-by">{{#link-to 'user' model.invited_by}}{{model.invited_by.username}}{{/link-to}}</dd></div>
            {{/if}}
            {{#if model.trust_level}}
              <div><dt class="trust-level">{{i18n 'user.trust_level'}}</dt><dd class="trust-level">{{model.trustLevel.name}}</dd></div>
            {{/if}}
            {{#if canCheckEmails}}
              <div><dt>{{i18n 'user.email.title'}}</dt>
              <dd title={{model.email}}>
                {{#if model.email}}
                  {{format-email model.email}}
                {{else}}
                  {{d-button action="checkEmail" actionParam=model icon="envelope-o" label="admin.users.check_email.text" class="btn-primary"}}
                {{/if}}
              </dd>
              </div>
            {{/if}}
  
            {{#if model.displayGroups}}
              <div><dt class="groups">{{i18n 'groups.title' count=model.displayGroups.length}}</dt>
              <dd class='groups'>
                {{#each model.displayGroups as |group|}}
                  <span>{{#link-to 'group' group.name class="group-link"}}{{group.name}}{{/link-to}}</span>
                {{/each}}
  
                {{#link-to "groups" (query-params username=model.username)}}
                  ...
                {{/link-to}}
              </dd>
              </div>
            {{/if}}
  
            {{#if canDeleteUser}}
              <div>{{d-button action="adminDelete" icon="exclamation-triangle" label="user.admin_delete" class="btn-danger"}}</div>
            {{/if}}
          </dl>
          {{plugin-outlet name="user-profile-secondary" args=(hash model=model)}}
        </div>
      </section>
  
      <ul class="flex-row-list">
        <li>{{#link-to 'user.summary'}}{{i18n 'user.summary.title'}}{{/link-to}}</li>
        <li>{{#link-to 'userActivity'}}{{i18n 'user.activity_stream'}}{{/link-to}}</li>
        {{#if showNotificationsTab}}
          <li>
            {{#link-to 'userNotifications'}}
              {{i18n 'user.notifications'}}
            {{/link-to}}
          </li>
        {{/if}}
        {{#if showPrivateMessages}}
          <li>{{#link-to 'userPrivateMessages'}}{{i18n 'user.private_messages'}}{{/link-to}}</li>
        {{/if}}
        {{plugin-outlet name="user-main-nav" tagName='' connectorTagName='li' args=(hash model=model)}}
        {{#if model.can_edit}}
          <li>{{#link-to 'preferences'}}{{i18n 'user.preferences'}}{{/link-to}}</li>
        {{/if}}
        {{#if showBadges}}
          <li>{{#link-to 'user.badges'}}{{i18n 'badges.title'}}{{/link-to}}</li>
        {{/if}}
      </ul>
  
      <div class='user-table'>
        <div class='wrapper'>
          {{outlet}}
        </div>
      </div>
  
    {{/d-section}}
  </div>
</script>

<script type="text/x-handlebars" data-template-name="components/google-search">
</script>

<script type="text/x-handlebars" data-template-name="mobile/discovery/topics">
  {{#discovery-topics-list model=model refresh="refresh" incomingCount=topicTrackingState.incomingCount}}
    {{#if top}}
      <div class='top-lists'>
        {{period-chooser period=period action="changePeriod"}}
      </div>
    {{else}}
      {{#if topicTrackingState.hasIncoming}}
        <div class='alert alert-info clickable' {{action "showInserted"}}>
          {{count-i18n key="topic_count_" suffix=topicTrackingState.filter count=topicTrackingState.incomingCount}}
        </div>
      {{/if}}
    {{/if}}

    {{#if hasTopics}}
      {{topic-list
          highlightLastVisited=true
          showPosters=true
          hideCategory=model.hideCategory
          order=order
          ascending=ascending
          topics=model.topics
          expandGloballyPinned=expandGloballyPinned
          expandAllPinned=expandAllPinned
          category=category
          }}
    {{/if}}
  {{/discovery-topics-list}}

  <footer class='topic-list-bottom'>
    {{conditional-loading-spinner condition=model.loadingMore}}
    {{#if allLoaded}}
      {{#if showDismissRead}}
        <button title="{{i18n 'topics.bulk.dismiss_tooltip'}}" id='dismiss-topics' class='btn dismiss-read' {{action "dismissReadPosts"}}>{{i18n 'topics.bulk.dismiss_button'}}</button>
      {{/if}}
      {{#if showResetNew}}
        <button id='dismiss-new' class='btn dismiss-read' {{action "resetNew"}}>
          {{d-icon "check"}}
          {{i18n 'topics.bulk.dismiss_new'}}</button>
      {{/if}}

      {{#footer-message education=footerEducation message=footerMessage}}
        {{#if latest}}
          {{#if canCreateTopicOnCategory}}<a href {{action "createTopic"}}>{{i18n 'topic.suggest_create_topic'}}</a>.{{/if}}
        {{else if top}}
          {{#link-to "discovery.categories"}}{{i18n 'topic.browse_all_categories'}}{{/link-to}}, {{#link-to 'discovery.latest'}}{{i18n 'topic.view_latest_topics'}}{{/link-to}} {{i18n 'or'}} {{i18n 'filters.top.other_periods'}}.
        {{else}}
          {{#link-to "discovery.categories"}} {{i18n 'topic.browse_all_categories'}}{{/link-to}} {{i18n 'or'}} {{#link-to 'discovery.latest'}}{{i18n 'topic.view_latest_topics'}}{{/link-to}}.
        {{/if}}
      {{/footer-message}}
    {{/if}}
  </footer>
</script>

<script type="text/x-handlebars" data-template-name="components/d-navigation">
  <div class="top-50">
    <a href="/tokenfans/top">
      <span>Top50 Fans</span>
  
      {{d-icon "chevron-right"}}
    </a>
  </div>
  
  {{bread-crumbs categories=categories category=category noSubcategories=noSubcategories}}
  
  {{#if showCategoryAdmin}}
    {{categories-admin-dropdown
      create=createCategory
      reorder=reorderCategories}}
  {{/if}}
  
  {{navigation-bar navItems=navItems filterMode=filterMode category=category}}
  
  {{create-topic-button
    canCreateTopic=canCreateTopic
    action=createTopic
    disabled=createTopicDisabled
    label=createTopicLabel
  }}
  
  {{#if showCategoryEdit}}
    {{d-button
      class="btn-default edit-category"
      action=editCategory
      icon="wrench"
      label="category.edit_long"}}
  {{/if}}    
</script>

<script type="text/x-handlebars" data-template-name="preferences/account">
  <div class="control-group pref-username">
    <label class="control-label">{{i18n 'user.username.title'}}</label>
    <div class="controls">
      <span class='static'>{{model.username}}</span>
      {{#if model.can_edit_username}}
        {{#link-to "preferences.username" class="btn btn-small btn-icon pad-left no-text"}}
        {{d-icon "pencil"}} {{/link-to}}
      {{/if}}
    </div>
    {{#if siteSettings.enable_mentions}}
      <div class='instructions'>
        {{{i18n 'user.username.short_instructions' username=model.username}}}
      </div>
    {{/if}}
  </div>
  
  {{#if canEditName}}
    <div class="control-group pref-name">
      <label class="control-label">{{i18n 'user.name.title'}}</label>
      <div class="controls">
        {{#if model.can_edit_name}}
          {{text-field value=newNameInput classNames="input-xxlarge"}}
        {{else}}
          <span class='static'>{{model.name}}</span>
        {{/if}}
      </div>
      <div class='instructions'>
        {{nameInstructions}}
      </div>
    </div>
  {{/if}}
  
  {{#if canCheckEmails}}
    <div class="control-group pref-email">
      <label class="control-label">{{i18n 'user.email.title'}}</label>
      {{#if model.email}}
        <div class="controls">
          <span class='static'>{{format-email model.email}}</span>
        </div>
        <div class='instructions'>
          {{i18n 'user.email.instructions'}}
        </div>
      {{else}}
        <div class="controls">
          {{d-button action="checkEmail" actionParam=model title="admin.users.check_email.title" icon="envelope-o" label="admin.users.check_email.text"}}
        </div>
      {{/if}}
    </div>
  {{/if}}
  
  {{#if canChangePassword}}
  <div class="control-group pref-password">
    <label class="control-label">{{i18n 'user.password.title'}}</label>
    <div class="controls">
      <a href {{action "changePassword"}} class='btn'>
        {{d-icon "envelope"}}
        {{#if model.no_password}}
          {{i18n 'user.change_password.set_password'}}
        {{else}}
          {{i18n 'user.change_password.action'}}
        {{/if}}
      </a>
  
      {{passwordProgress}}
    </div>
  
    <div class="controls pref-second-factor">
      {{#if model.second_factor_enabled}}
        {{i18n 'user.second_factor.disable'}}
      {{else}}
        {{discourse-linked-text action="showTwoFactorModal" text="user.second_factor.enable"}}
      {{/if}}
  
      {{#if isCurrentUser}}
        {{#link-to "preferences.second-factor" class="btn btn-small btn-icon pad-left no-text"}}
          {{d-icon "pencil"}}
        {{/link-to}}
      {{/if}}
    </div>
  
    <div class="controls pref-second-factor-backup">
      {{#if model.second_factor_enabled}}
        {{#if model.second_factor_backup_enabled}}
          {{i18n 'user.second_factor_backup.manage'}}
        {{else}}
          {{i18n 'user.second_factor_backup.enable_long'}}
        {{/if}}
  
        {{#if isCurrentUser}}
          {{#link-to "preferences.second-factor-backup" class="btn btn-small btn-icon pad-left no-text"}}
            {{d-icon "pencil"}}
          {{/link-to}}
        {{/if}}
      {{/if}}
    </div>
  </div>
  {{/if}}
  
  {{#if canUpdateAssociatedAccounts}}
    <div class="control-group pref-associated-accounts">
      <label class="control-label">{{i18n 'user.associated_accounts.title'}}</label>
      {{#if associatedAccountsLoaded}}
        <table>
        {{#each authProviders as |authProvider|}}
          <tr>
            <td>{{authProvider.method.prettyName}}</td>
  
            {{#if authProvider.account}}
              <td>{{authProvider.account.description}}</td>
              <td>
                {{#if authProvider.method.can_revoke}}
                  {{#conditional-loading-spinner condition=revoking size='small'}}
                    {{d-button action="revokeAccount" actionParam=authProvider.account title="user.associated_accounts.revoke" icon="times-circle" }}
                  {{/conditional-loading-spinner}}
                {{/if}}
              </td>
            {{else}}
              <td colspan=2>
                {{#if authProvider.method.can_connect}}
                  {{d-button action="connectAccount" actionParam=authProvider.method label="user.associated_accounts.connect" icon="plug" disabled=disableConnectButtons}}
                {{else}}
                  {{i18n 'user.associated_accounts.not_connected'}}
                {{/if}}
                </td>
            {{/if}}
  
          </tr>
        {{/each}}
        </table>
      {{else}}
        <div class="controls">
          {{d-button action="checkEmail" actionParam=model title="admin.users.check_email.title" icon="envelope-o" label="admin.users.check_email.text"}}
        </div>
      {{/if}}
    </div>
  {{/if}}
  
  {{#unless siteSettings.sso_overrides_avatar}}
    <div class="control-group pref-avatar">
      <label class="control-label">{{i18n 'user.avatar.title'}}</label>
      <div class="controls">
        {{! we want the "huge" version even though we're downsizing it in CSS }}
        {{bound-avatar model "huge"}}
        {{d-button action="showAvatarSelector" actionParam=model class="pad-left" icon="pencil"}}
      </div>
    </div>
  {{/unless}}
  
  {{#if canSelectTitle}}
    <div class="control-group pref-title">
      <label class="control-label">{{i18n 'user.title.title'}}</label>
      <div class="controls">
        {{combo-box
          value=newTitleInput
          content=model.availableTitles
          none="user.title.none"}}
      </div>
    </div>
  {{/if}}
  
  {{plugin-outlet name="user-preferences-account" args=(hash model=model save=(action "save"))}}
  
  <br/>
  
  {{plugin-outlet name="user-custom-controls" args=(hash model=model)}}
  
  {{#if canSaveUser}}
    <div class="control-group save-button">
      <div class="controls">
        {{partial 'user/preferences/save-button'}}
      </div>
    </div>
  {{/if}}
  
  
  {{#if model.canDeleteAccount}}
    <div class="control-group delete-account">
      <br/>
      <div class="controls">
        {{d-button action="delete" disabled=deleteDisabled class="btn-danger" icon="trash-o" label="user.delete_account"}}
      </div>
    </div>
  {{/if}}  
</script>

<script type="text/x-handlebars" data-template-name="xfull-page-search">
  {{#d-section pageClass="search" class="search-container"}}
{{scroll-tracker name="full-page-search" tag=searchTerm class="hidden"}}

<div class="search-advanced">
  {{#unless site.mobileView}}
  <div class="search-bar">
    {{search-text-field value=searchTerm class="full-page-search search no-blur search-query" enter=(action "search") hasAutofocus=hasAutofocus}}
    {{d-button action=(action "search") icon="search" class="btn-primary search-cta" disabled=searchButtonDisabled}}
  </div>
  {{/unless}}

  <div class="search-notice">
    {{#if invalidSearch}}
    <div class="fps-invalid">
      {{i18n "search.too_short"}}
    </div>
    {{/if}}
  </div>

  <div class="search-context">
    {{#if context}}
    <div class='fps-search-context'>
      <label>
        {{input type="checkbox" name="searchContext" checked=searchContextEnabled}} {{searchContextDescription}}
      </label>
    </div>
    {{/if}}
  </div>

  {{#if hasResults}}
  <div class='search-title'>
    {{#if hasResults}}
    {{create-topic-button canCreateTopic=canCreateTopic action=(action "createTopic" searchTerm)}}
    {{/if}}

    {{#if canBulkSelect}}
    {{d-button icon="list" class="btn-default bulk-select" title="topics.bulk.toggle" action=(action "toggleBulkSelect")}}
    {{bulk-select-button selected=selected action=(action "search")}}
    {{/if}}

    {{#if bulkSelectEnabled}}
    <div class='fps-select'>
      <a {{action "selectAll"}}>{{i18n "search.select_all"}}</a>
      <a {{action "clearAll"}}>{{i18n "search.clear_all"}}</a>
    </div>
    {{/if}}
  </div>

  <div class='search-info'>
    <div class='result-count'>
      {{{resultCountLabel}}}
    </div>
    <div class='sort-by'>
      <span class='desc'>
        {{i18n "search.sort_by"}}
      </span>
      {{combo-box value=sortOrder content=sortOrders castInteger=true}}
    </div>
  </div>
  {{/if}}

  {{plugin-outlet name="full-page-search-below-search-info" args=(hash search=searchTerm)}}

  {{#unless searching}}
  <div class="search-results">
    {{#load-more selector=".fps-result" action=(action "loadMore")}}
    {{#each model.posts as |result|}}
    <div class='fps-result'>
      <div class='author'>
        <a href={{result.userPath}} data-user-card="{{unbound result.username}}">
          {{avatar result imageSize="large"}}
        </a>
      </div>

      <div class='fps-topic'>
        <div class='topic'>
          {{#if bulkSelectEnabled}}
          {{track-selected selectedList=selected selectedId=result.topic}}
          {{/if}}

          <a class='search-link' href='{{unbound result.url}}' {{action "logClick" result.topic_id}}>
            {{topic-status topic=result.topic disableActions=true}}<span
              class='topic-title'>{{#highlight-text highlight=q}}{{{unbound result.topic.fancyTitle}}}{{/highlight-text}}</span>
          </a>

          <div class='search-category'>
            {{#if result.topic.category.parentCategory}}
            {{category-link result.topic.category.parentCategory}}
            {{/if}}
            {{category-link result.topic.category hideParent=true}}
            {{#each result.topic.tags as |tag|}}
            {{discourse-tag tag isPrivateMessage=isPrivateMessage}}
            {{/each}}
            {{plugin-outlet name="full-page-search-category" args=(hash result=result)}}
          </div>
        </div>

        <div class='blurb container'>
          <span class='date'>
            {{format-age result.created_at}}
            {{#if result.blurb}}
            -
            {{/if}}
          </span>

          {{#if result.blurb}}
          {{#highlight-text highlight=highlightQuery}}
          {{{unbound result.blurb}}}
          {{/highlight-text}}
          {{/if}}
        </div>

        {{#if showLikeCount}}
        {{#if result.like_count}}
        <span class='like-count'>
          {{result.like_count}} {{d-icon "heart"}}
        </span>
        {{/if}}
        {{/if}}
      </div>
    </div>
    {{/each}}

    {{#conditional-loading-spinner condition=loading }}
    {{#unless hasResults}}
    {{#if searchActive}}
    <h3>{{i18n "search.no_results"}}</h3>

    {{#if showSuggestion}}
    <div class="no-results-suggestion">
      {{i18n "search.cant_find"}}
      {{#if canCreateTopic}}
      <a href {{action "createTopic" searchTerm}}>{{i18n "search.start_new_topic"}}</a>
      {{#unless siteSettings.login_required}}
      {{i18n "search.or_search_google"}}
      {{/unless}}
      {{else}}
      {{i18n "search.search_google"}}
      {{/if}}
    </div>

    {{google-search searchTerm=searchTerm}}
    {{/if}}
    {{/if}}
    {{/unless}}

    {{#if hasResults}}
    {{#unless loading}}
    <h3 class="search-footer">
      {{#if model.grouped_search_result.more_full_page_results}}
      {{#if isLastPage }}
      {{i18n "search.more_results"}}
      {{/if}}
      {{else}}
      {{i18n "search.no_more_results"}}
      {{/if}}
    </h3>
    {{/unless}}
    {{/if}}
    {{/conditional-loading-spinner}}
    {{/load-more}}
  </div>
  {{else}}
  {{loading-spinner size="medium"}}
  {{/unless}}
</div>

<div class="search-advanced-sidebar">
  {{#if site.mobileView}}
  <div class="search-bar">
    {{search-text-field value=searchTerm class="full-page-search search no-blur search-query" enter=(action "search") hasAutofocus=hasAutofocus}}
    {{d-button action=(action "search") icon="search" class="btn-primary search-cta" disabled=searchButtonDisabled}}
    <span style="color:#008cd5;margin-left:8px;" onclick="history.back()">{{i18n "cancel"}}</span>
  </div>
  {{/if}}

  {{#if site.mobileView}}
  <button class="search-advanced-title btn" {{action "toggleAdvancedSearch"}}>
    {{{searchAdvancedIcon}}} {{i18n "search.advanced.title"}}
  </button>
  {{else}}
  <span class="search-advanced-title">
    {{i18n "search.advanced.title"}}
  </span>
  {{/if}}

  {{#if site.mobileView}}
  {{#if expanded}}
  <div class="search-advanced-filters">
    {{search-advanced-options searchTerm=searchTerm isExpanded=expanded}}
  </div>
  {{/if}}
  {{else}}
  <div class="search-advanced-filters">
    {{search-advanced-options searchTerm=searchTerm isExpanded=true}}

    {{d-button
          label="submit"
          action=(action "search")
          icon="search"
          class="btn-primary search-cta"
          disabled=searchButtonDisabled}}
  </div>
  {{/if}}
</div>
{{/d-section}}
</script>

<script type="text/x-handlebars" data-template-name="mobile/components/categories-only">
  {{#if categories}}
<div class="category-list {{if showTopics 'with-topics'}}">
  {{#each categories as |c|}}
  <div data-category-id={{c.id}} class='category-list-item category' style={{border-color c.color}}>
    <table class='topic-list'>
      <tr>
        <th class="main-link">
          {{category-title-link category=c}}

          <div class="subcategory-container">
            {{#if c.subcategories}}
            <div class='subcategories'>
              {{#each c.subcategories as |subcategory|}}
              {{category-link subcategory}}
              {{/each}}
            </div>
            {{/if}}
          </div>
        </th>
      </tr>

      {{#if c.description_excerpt}}
      <tr class="category-description">
        <td colspan="3">
          {{{c.description_excerpt}}}
        </td>
      </tr>
      {{/if}}

      {{#if showTopics}}
      {{#each c.topics as |t|}}
      {{mobile-category-topic topic=t}}
      {{/each}}
      {{/if}}

    </table>
    <footer class="clearfix">

      <figure title="{{i18n 'all_time_desc'}}">{{number c.topics_all_time}} <figcaption>{{i18n 'all_time'}}</figcaption>
      </figure>

      {{#if c.pickMonth}}
      <figure title="{{i18n 'month_desc'}}">{{number c.topics_month}} <figcaption>/ {{i18n 'month'}}</figcaption>
      </figure>
      {{/if}}

      {{#if c.pickWeek}}
      <figure title="{{i18n 'week_desc'}}">{{number c.topics_week}} <figcaption>/ {{i18n 'week'}}</figcaption>
      </figure>
      {{/if}}

    </footer>
  </div>
  {{/each}}
</div>
{{/if}}
</script>