@import "common/foundation/variables";

html * {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

a {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-touch-callout: none;
}

a,
title,
table,
h3,
p,
span {
    word-break: break-all;
}

h3 {
    font-weight: 500 !important;
}

button.btn,
.btn[href] {
    background: #16153c;
    color: white;
    border-radius: 4px;
    padding: 8px 14px;
    font-size: $font-0;

    .d-button-label,
    i {
        color: white !important;
    }
}

button.btn:active {
    background: lighten($color: #16153c, $amount: 10);
    color: white;

    .d-button-label {
        color: white !important;
    }
}

.btn[disabled],
.btn.disabled {
    display: none;
}

.user-navigation {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-between;

    ul {
        margin-bottom: 10px;
    }

    button {
        margin-top: 10px;
        margin-left: 20px;
    }

    .user-archive {
        display: none;
    }
}

section.user-right {
    margin-top: 10px;
}

.topic-list {
    span.badge-category .category-name {
        color: #a5a5a5;
    }

    th,
    td {
        padding: 15px 0;
    }

    .num.activity a {
        padding: 0;
    }

    td {
        .relative-date {
            font-size: $font-down-1;
        }

        .num.posts-map {
            font-size: $font-0;
            background: rgba(20, 19, 59, 0.1);
            padding: 0 7px;
            border-radius: 4px;
            position: relative;
            top: -1px;
            color: #919191 !important;

            a {
                padding: 0;

                span {
                    font-size: 13px;
                    color: #A5A5A5;
                    position: relative;
                    top: -1px;
                    font-weight: 500;
                }
            }
        }
    }
}

.topic-list-bottom h3 {
    font-size: $font-0;
    font-weight: normal;
}

.nav-pills>li>a:hover {
    color: unset;
    background-color: unset;
}

.badge-wrapper {

    &.bullet .badge-category-parent-bg,
    &.bullet .badge-category-bg {
        display: none;
    }

    &.bullet span.badge-category {
        color: #a5a5a5;
    }

    &.box span.badge-category-parent-bg {
        width: 100%;
        border-radius: 4px;
        background-color: transparent !important;
    }

    &.box span.badge-category-parent-bg+.badge-category-bg+.badge-category {
        margin-left: 0;
        background-color: transparent !important;
    }

    &.box span.badge-category {
        color: #17153c !important;
    }
}

.badge-category-bg {
    display: none;
}

.btn .d-icon {
    color: white;
}

#reply-control {
    .d-editor-button-bar .btn {
        background-color: #e9e9e9;
        color: #646464;
    }

    .toolbar-visible .d-editor-button-bar {
        display: none;
    }

    .category-input,
    .title-input {
        padding: 6px 0;
        border-bottom: 1px solid rgba(22, 21, 60, 0.15);
    }

    .submit-panel {
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        align-items: center;
        padding-bottom: 10px;

        .save-or-cancel {
            flex: unset;
            flex-basis: unset;
            margin-right: 0;

            button {
                background: transparent;

                span {
                    color: #16153c !important;
                    font-weight: 500;
                    font-size: $font-0;
                }

                svg {
                    display: none;
                }
            }
        }
    }

    .submit-panel .save-or-cancel #draft-status,
    .submit-panel .save-or-cancel #file-uploading {
        margin: 0;
    }

    .composer-bottom-right {
        flex-basis: unset;
        padding-bottom: 5px;
    }

}

.d-editor-button-bar {
    display: none;
}

.modal-inner-container {
    width: 80%;
    border-radius: 8px;
}

.modal-header h3 {
    font-size: $font-up-1;
}

.list-container {
    padding: 0 20px;
}

.flex-row-list {
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    overflow-x: scroll;
    justify-content: space-around;
    margin: 0px;
    padding: 0;
    background: #f8f8f8;
    border-bottom: 1px solid rgba(22, 21, 60, 0.15);
    border-top: 1px solid rgba(22, 21, 60, 0.15);

    li {
        list-style: none;
        padding: 1rem 0;

        a {
            font-size: $font-0;
            font-weight: bold;
            color: #17153c;
            padding: 1rem 0;
            border-bottom: 2px solid transparent;
        }

        a.active {
            border-bottom: 2px solid black;
        }
    }
}

.user-table {
    padding: 0 20px;
    margin-top: 0;

    .wrapper>.user-content {
        margin-top: 16px;
    }

    .user-navigation {
        width: 100vw;
        position: relative;
        left: -20px;

        .mobile-nav {
            padding: 0 10px;
        }

        .mobile-view .mobile-nav>li>a {
            padding: 8px 20px;
        }

    }

    .form-vertical .control-label {
        font-size: $font-0;
        font-weight: normal;
        color: rgba(#16153c, 0.5);
    }

    .save-button.control-group {
        color: white;
        border: 0 !important;
        display: flex;
        flex-flow: row nowrap;
        justify-content: center;
        max-width: unset;

        .controls {
            display: inline-block;
            background: black;
            border: 0;
            margin: 0;
            padding-bottom: 0;
        }
    }

    .form-vertical .controls {
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        align-items: center;
        padding-bottom: 20px;
        margin-bottom: 0;

        .avatar {
            width: 70px;
            height: 70px;
        }

        .instructions {
            display: none;
        }
    }

    .control-group {
        border-bottom: 1px solid rgba(22, 21, 60, 0.15);
    }

    .user-secondary-navigation {
        min-width: 100px;
        margin: 16px 0 0 0;
        display: inline-block;

        ul {
            border: solid 0.5px #d0d0d8;
        }

        .mobile-nav {
            min-height: unset;

            .d-icon-caret-down {
                right: unset;
            }

            &>li>a {
                padding: 5px 10px;
            }
        }
    }

    .user-additional-controls {
        margin-bottom: 8px;
        display: inline-block;
        position: absolute;
        margin-top: 16px;
        right: 20px;
    }

    button.btn,
    button.btn-primary {

        svg,
        img {
            display: none;
        }
    }

    .controls {
        button {

            svg,
            img {
                display: inherit;
            }
        }
    }

    .control-group.save-button {
        .controls {
            border-radius: 4px;
        }
    }

    .user-content {
        .list-actions {
            justify-content: flex-end;

            button:last-child {
                margin-right: 0;
            }

            position: absolute;
            margin-top: -54px;
            right: 20px;
        }

        .pref-profile-bg {
            .image-uploader {
                width: 100%;
            }
        }

        .remove-bookmark {
            background: transparent;
            color: #16153c;
            padding-right: 0;

            img {
                display: none;
            }
        }

        .topic-list {
            tr {
                .topic-item-stats {
                    .pull-right {
                        float: unset;
                        display: flex;
                        flex-flow: row nowrap;
                        justify-content: space-between;
                    }
                }
            }
        }
    }
}

.create-topics-notice,
.alert-bootstrap-mode {
    display: none;
}

.user-main {

    .about {
        margin-bottom: 0;

        &.collapsed-info .details {
            border-bottom: 0;
        }

        .secondary {
            padding: 5px 20px;
            border-bottom: 0;
            box-sizing: border-box;

            dt,
            dd {
                font-size: $font-down-1;
                color: rgba(#17153c, 0.5);
            }

            dt {
                word-break: keep-all;
            }

            dd {
                margin: 0 30px 0 0;
                word-break: break-all;
            }

            span {
                font-size: $font-0;
                color: rgba(#17153c, 0.5);
            }
        }

        .details .primary .avatar,
        &.collapsed-info .details .primary .avatar {
            width: 70px;
            height: 70px;
            margin: 0;
        }

        &.collapsed-info .details .primary {
            h1.username {
                font-size: $font-up-1;
                margin-top: 10px;
            }
        }

        .details,
        &.collapsed-info .details {
            background: white;
            padding: 0 20px;

            h1.username {
                font-size: $font-up-1;
                margin-top: 10px;
            }
        }

        .details .primary .primary-textual,
        &.collapsed-info .details .primary .primary-textual {
            flex: unset;
            display: flex;
            flex-flow: column nowrap;
            justify-content: center;
            margin: 0 16px;

            h1 {
                font-size: 19px;
                font-weight: 500;
                margin-bottom: 4px;
            }

            h2 {
                font-size: 15px;
                color: #16153c;
                margin-bottom: 0;
            }
        }

        .controls {
            flex: unset;

            a {
                &.btn-primary {
                    background: #16153c;
                    color: white;
                    min-width: unset;
                    border-radius: 4px;
                    padding: 8px 10px;
                }
            }
        }
    }
}

#main-outlet.wrap {
    padding-left: 0;
    padding-right: 0;
}

#main-outlet {
    padding-top: 3.6em;
}

.user-menu {
    .menu-panel {
        padding: 0;
        height: 100vh !important;

        .panel-body {
            width: 100%;
        }

        hr {
            margin: 0;
        }

        .panel-body-contents {
            .user {
                span {
                    font-weight: 500;
                    color: #2b2b2b;
                    font-size: $font-0;
                }
            }
        }
    }

    .notifications {
        display: block;
        max-height: calc(100vh - 100px);
        overflow-y: scroll;

        li {
            border-bottom: 0.5px solid #e9e9e9;

            a>div {
                font-size: $font-down-1;
                color: rgba(#17153c, 0.5);
            }

            span {
                display: block;
                font-size: $font-0;
                line-height: 2;
            }
        }

        .fa {
            line-height: 1;
        }

        .read {
            border-bottom: 1px solid rgba(22, 21, 60, 0.2);

            &:last-child {
                border-bottom: 0;
            }
        }
    }
}

.search-container {
    padding: 0 20px;
}

.search-advanced-title {
    display: none;
}

#topic-title {
    padding: 15px 20px;
    background: #f8f8f8;

    h1 a {
        font-size: 19px;
    }
}

.post-stream {
    padding-bottom: 0;

    .topic-post,
    .time-gap,
    .small-action {
        padding: 0 20px;
        border-bottom: 1px solid #e9e9e9;

        &>article {
            border-top: 0;

            .topic-body {
                .who-liked {
                    img {
                        width: 20px;
                        height: 20px;
                    }
                }
            }
        }

        .username {
            font-size: $font-0;
            font-weight: 500;
            color: #16153c;
        }
    }

    .topic-post:first-child article {
        border-top: 0;
    }

    .gap {
        padding: 0 20px;
    }

    .small-action {
        background: #f8f8f8;
        height: 55px;

        .small-action-desc {
            font-weight: 500;
        }

        .topic-avatar {
            padding: 18px 0;

            svg {
                width: 20px;
                height: 20px;
            }
        }
    }
}

.topic-map {
    display: none;
}

.search-container .search-bar .search-query {
    border-radius: 1em;
}

#suggested-topics {
    padding: 10px 20px;
    margin-top: 50px;

    .topic-list .topic-item-stats .category {
        display: none;
    }

    .topic-item-stats {
        .pull-right {
            float: unset;
            display: flex;
            flex-flow: row nowrap;
            justify-content: space-between;
        }
    }
}


#topic-footer-buttons {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-end;
    padding: 20px;
    padding-bottom: 0;
}

.list-controls {
    margin: 0;

    .nav-pills {
        display: none;

        .navigation-toggle {
            border-radius: 4px;
        }

        &>li>a {
            border-radius: 4px;
        }

        .drop {
            border-radius: 8px;
            width: unset;
            min-width: 80px;
            padding: 0 20px;

            li {
                margin-top: 0;
                padding-top: 0;
                padding: 5px 0;
                border-bottom: 1px solid rgba(22, 21, 60, 0.2);

                a {
                    color: #17153c;
                }
            }

            li:last-child {
                border-bottom: 0;
            }
        }
    }

    .container #create-topic {
        margin-right: 20px;
    }
}

ol.category-breadcrumb {
    flex: 1;
    margin: 0 20px;
}

.select-kit.combo-box.category-drop .select-kit-body {
    width: unset !important;
    min-width: 200px !important;
    border-radius: 8px;
    padding: 0 20px;
    left: 0px !important;
    box-shadow: 0 2px 20px 0 rgba(0, 0, 0, 0.2);

    .select-kit-row {
        padding: 17px 0;
        border-bottom: 0.5px solid rgba(22, 21, 60, 0.2);

        &:last-child {
            border-bottom: 0;
        }

        span {
            color: #16153c;
            font-weight: normal;
        }

        &.is-selected,
        &.is-highlighted {
            background: white;

            span {
                color: #008cd5;
            }
        }
    }
}

.select-kit.combo-box.category-drop .category-drop-header {
    border-radius: 4px;
    max-width: 200px;
    border: solid 0.5px #D0D0D8;
    padding: 2px 5px 2px 10px;
    min-height: 34px;
}

ol.category-breadcrumb li.select-kit {
    flex: unset;

    .select-kit-header .selected-name {
        .category-name {
            color: #16153c;
        }
    }
}


#imtoken-qrcode {
    padding-top: 80px;

    .qrcode-wrap {
        padding: 0 20px;
    }

    .description {
        h1 {
            display: none;
        }

        ul {
            margin: 0 0 9px 16px;

            li {
                margin: 20px 0;
                font-size: 13px;
            }
        }

        .important-title {
            display: flex;
            flex-flow: row nowrap;
            align-items: center;
            justify-content: center;

            .title-line {
                flex: 1;
                height: 2px;
                background: rgba(#2b2b2b, 0.1);
            }

            h3 {
                margin-bottom: 0;
                margin: 0 20px;
                font-size: 21px;
                line-height: 29px;
                color: #16153c;
            }
        }
    }

    .qrcode-wrap .qrcode {
        display: none;
    }

    .login-via-imtoken {
        background: black;
        color: white;
        font-size: 17px;
        line-height: 24px;
        padding: 16px;
        border-radius: 8px;
        width: 80%;
    }
}

#topic-progress {
    display: none;
}

#ember1059 {
    display: none;
}

.anon .topic-list-main-link a.title:visited:not(.badge-notification),
.anon .topic-list .main-link a.title:visited:not(.badge-notification),
.topic-list .anon .main-link a.title:visited:not(.badge-notification) {
    color: transparent;
}

.select-kit.combo-box .select-kit-filter {
    display: none;
}

.search-container .search-advanced .search-title {
    display: none;
}

.search-container .search-advanced .search-info {
    align-items: flex-start;
}

.search-container .search-notice {
    margin-top: 0;
}

.search-container .search-advanced .search-actions,
.search-container .search-advanced .search-notice,
.search-container .search-advanced .search-results,
.search-container .search-advanced .search-title,
.search-container .search-advanced .search-bar {
    margin-bottom: 0;
}


.reply-area {
    .composer-fields {
        .submit-panel {
            border-bottom: 1px solid rgba(22, 21, 60, 0.15);
        }
    }

    .d-editor-textarea-wrapper,
    .select-kit.combo-box .select-kit-header {
        border: 0;
        // border-top: 1px solid rgba(22, 21, 60, 0.15);
        padding-top: 5px;
    }

    .title-input input {
        border: 0 !important;
        outline: none;
        box-shadow: none !important;
    }
}

.select-kit.combo-box.category-drop .select-kit-row .category-desc {
    display: none;
}


.lightbox-wrapper,
.lightbox-wrapper * {
    width: 100%;
}

.select-kit.combo-box.category-drop.box.has-selection .category-drop-header {
    background: rgba(20, 19, 59, 0.1) !important;

    .d-icon {
        color: #646464 !important;
    }
}

.select-kit.combo-box.category-drop .category-drop-header .d-icon {
    background: transparent !important;
}

#topic-progress-wrapper .topic-admin-menu-button-container {
    display: none;
}

.select-kit.combo-box.category-chooser .select-kit-row .category-desc {
    display: none;
}

.select-kit.combo-box .select-kit-header.is-focused {
    box-shadow: none;
}

.top-50 {
    width: 100%;
    background: #f8f8f8;
    padding: 12px 20px;
    margin-bottom: 14px;
    border-bottom: 0.5px solid #D0D0D8;

    &>a {
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        align-items: center;
    }

    span {
        font-size: $font-0;
        color: #17153c;
        font-weight: 500;
    }

    svg {
        color: rgba(#17153c, 0.5);
    }
}

.small-action-desc button {
    margin: 0 4px;
}

.reply-details .select-kit.dropdown-select-box.composer-actions .select-kit-header {
    background: black;

    svg {
        color: white !important;
    }
}

.logout {
    .d-label {
        color: #17153c;
        font-size: 13px;
        font-weight: bold;
        margin-left: 4px;
    }
}

.tokenfans-lock {
    position: relative;
    top: 2px;
    margin-right: 2px;
    color: white;
}

.user-menu {
    .panel-body {
        .user {
            img {
                width: 32px;
                height: 32px;
                border-radius: 50%;
            }
        }
    }
}

#draft-status {
    margin-right: 4px !important;
    font-size: 13px;
}

.bootbox.modal {
    left: 10%;
    width: 80%;
    border-radius: 4px;
    outline: none;

    .modal-footer {
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

.user-menu .notifications li:not(.show-all) .d-icon {
    position: relative;
    top: 2px;
}

.category-list-item.category .posts {
    width: unset;
}

#mobile-image-upload {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
}

.composer-bottom-right {
    direction: rtl;

}

.mobile-file-upload {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    padding: 0;

    .btn {
        padding: 0;
    }

    img {
        width: 40px;
        height: 40px;
    }
}

.topic-footer-main-buttons {

    .select-kit {
        display: none;
    }

    .share-and-invite,
    .flag-topic {
        display: none;
    }
}

.topic-notifications-button {
    display: none;
}

img.avatar {
    width: 40px;
    height: 40px;
}

.hairlines {
    border-width: 0.5px;
}

.panel-body-contents {
    .logout-link {
        position: absolute;
        bottom: 10px;
    }

    .dismiss-link {
        float: unset;
        text-align: center;
        display: block;
        padding: 0.4em;
        border-top: 0.5px solid #e9e9e9;

        span {
            font-size: $font-down-1;
            color: #098de6;
        }

        svg {
            display: none;
        }
    }
}

.mobile-view {
    .mobile-nav .d-icon-caret-down {
        right: 16px;
    }

    .mobile-nav.messages-nav,
    .mobile-nav.notifications-nav,
    .mobile-nav.activity-nav,
    .mobile-nav.preferences-nav {
        position: relative;
        top: 0px;
        border-radius: 4px;
        width: 100%;
        background: transparent;
        border-bottom: 1px solid rgba(22, 21, 60, 0.15);
    }

    .preferences-nav,
    .messages-nav,
    .notifications-nav,
    .activity-nav {
        .drop {
            padding: 0 20px;
            min-width: 200px;
            border-radius: 8px;
            position: absolute;
            top: 32px;

            &>li {
                border-top: 1px solid rgba(22, 21, 60, 0.15);
                margin: 0;
                padding: 12px 0;

                a {
                    padding: 0;
                }

                &:first-child {
                    border-top: 0;
                }
            }

            &>span {
                display: none;
            }
        }
    }

    .category-boxes {
        display: flex;
        flex-flow: row wrap;

        .category-box {
            margin: 0 5px 0 0;
            width: unset;
            border-left: 0;

            .category-box-inner {
                padding: 4px 5px;
                border-radius: 4px;
                background-color: rgba(20, 19, 59, 0.1);

                h3 {
                    font-size: 13px;
                    font-weight: normal;
                    margin: 0;
                    color: #777a8c;
                }

                .description {
                    display: none;
                }
            }
        }
    }
}

.topic-post {
    nav.post-controls button.reply {
        padding-right: 0;
        position: relative;
        left: 6px;
    }

    &:last-of-type {
        padding-bottom: 0;
    }

    .post-menu-area {
        nav.post-controls {
            .toggle-like {
                padding-left: 0;
            }

            .like-count {
                padding-left: 0;
            }
        }
    }
}

.title-wrapper {
    .topic-statuses {
        margin-top: 5px;
    }
}

.suggested-topics {
    padding: 15px 20px;
    margin-top: 15px;
}

.flag-modal .flag-action-type-details {
    display: flex;
    flex-flow: row wrap;

    .description {
        margin-left: 4px;
    }
}

// 搜索交互处理有点困难
// .search-container {
//     position: fixed;
//     top: 0;
//     left: 0;
//     width: 100%;
//     box-sizing: border-box;
//     background: white;
//     z-index: 10000;

//     input {
//         box-shadow: unset;

//         &:focus {
//             box-shadow: unset;
//         }
//     }
// }

#user-card,
#group-card {
    max-width: 90vw;
    margin: 0 5vw;
    border-radius: 8px;

    .card-content {
        border-radius: 8px;
        padding: 20px;

        .user-profile-link {
            font-size: 17px;
            font-weight: 500;
        }

        .username {
            font-weight: 13px;
            color: #2b2b2b;
            opacity: 0.5;
        }
    }

    .first-row {
        .usercard-controls {
            margin-top: 4px;
        }

        .user-card-avatar {
            margin-top: 0;
        }
    }
}

.modal-outer-container {
    .modal-body {
        label.btn {
            background: #16153c;
            color: white;
            border-radius: 4px;
        }
    }

    .modal-footer {
        display: flex;
        flex-flow: row nowrap;
        justify-content: center;
        align-items: center;

        .btn {
            margin: 0;
            flex: 1;
        }

        a.d-modal-cancel {
            background: #16153c;
            color: white;
            border-radius: 4px;
            padding: 8px 14px;
            font-size: $font-0;
            line-height: 1;
            flex: 1;
            text-align: center;
        }
    }
}