@import "common/foundation/variables";

$border: 0.5px solid #e9e9e9;

i.iconfont {
    font-style: normal;
}

.flex-row-list {
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    overflow-x: scroll;
    justify-content: space-around;
    margin: 0px;
    padding: 1rem 0;
    background: #f8f8f8;

    li {
        list-style: none;

        a {
            font-size: $font-0;
            font-weight: bold;
            color: #17153c;
            padding: 0.4rem 0;
            border-bottom: 2px solid transparent;
        }

        a.active {
            border-bottom: 2px solid black;
        }
    }
}

#imtoken-qrcode {
    .description {
        ul {
            li {
                color: rgba(#2b2b2b, 0.7);
            }
        }
    }
}

#hot-users {
    padding: 0 20px;

    .card-header {
        margin: 16px 0;

        strong {
            font-size: 15px;
            font-weight: 500;
        }
    }

    table {
        thead {
            th {
                font-size: 13px;
                color: #777a8c;
                text-align: center;
                padding: 0.5em 0;
            }
        }

        tbody {
            tr {
                td {
                    .userinfo {
                        padding: 12px 0 !important;

                        .user-name {
                            font-size: 15px;
                        }
                    }

                    &.top-number {
                        span {
                            font-size: 13px;
                        }
                    }
                }
            }
        }

        .image {
            img {
                width: 35px !important;
                height: 35px !important;
            }
        }
    }
}

tbody {
    border-top-width: 0.5px !important;
}

.topic-meta-data {
    height: 40px;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;

    .names span.first {
        font-weight: 500;
    }
}

.badge-notification,
.badge-group {
    border-radius: 4px;
}

.badge-notification.new-posts,
.badge-notification.unread-posts {
    background-color: #098de6;
}

.d-header-icons .unread-notifications {
    background-color: #098de6;
    border-radius: 4px;
}

#hot-users.user-list table .top-number {
    font-weight: 500 !important;
}

header.d-header {
    .d-header-icons {

        i.iconfont {
            font-size: 24px;
            color: #333;
        }
    }
}

button.btn,
.btn[href] {
    background: #16153c;
    color: white;
    border-radius: 4px;
    padding: 8px 14px;
    font-size: $font-0;

    .d-button-label,
    i {
        color: white !important;
    }
}

button.btn:active {
    background: lighten($color: #16153c, $amount: 10);
    color: white;

    .d-button-label {
        color: white !important;
    }
}

.btn[disabled],
.btn.disabled {
    display: none;
}

.btn .d-icon {
    color: white;
}

.user-menu {
    .notifications {
        display: block;
        max-height: calc(100vh - 180px);
        overflow-y: scroll;

        hr {
            display: none;
        }

        li {
            border-bottom: $border;
            padding: 8px 20px !important;

            a {
                display: flex;
                flex-flow: row nowrap;
            }

            a>img,
            a>svg,
            a>i {
                margin-right: 15px !important;
                font-style: normal;
                position: relative;
                top: 2px;
            }

            a>div {
                font-size: $font-down-1;
                color: rgba(#17153c, 0.5);
            }

            span {
                display: block;
                font-size: $font-0;
                line-height: 2;
            }

            &.show-all {
                padding: 0 !important;
            }
        }

        .fa {
            line-height: 1;
        }

        .read {
            &:last-child {
                border-bottom: 0;
            }
        }
    }
}

.select-kit.combo-box.category-drop {
    .select-kit-body {
        width: unset !important;
        min-width: 200px !important;
        border-radius: 8px;
        padding: 0 20px;
        left: 0px !important;
        box-shadow: 0 2px 20px 0 rgba(0, 0, 0, 0.2);

        .select-kit-row {
            padding: 17px 0;
            border-bottom: 0.5px solid rgba(22, 21, 60, 0.2);

            &:last-child {
                border-bottom: 0;
            }

            span {
                color: #16153c;
                font-weight: normal;
            }

            &.is-selected,
            &.is-highlighted {
                background: white;

                span {
                    color: #008cd5;
                }
            }
        }
    }

    .category-drop-header {
        border-radius: 4px;
        max-width: 200px;
        border: solid 0.5px #D0D0D8;
        padding: 2px 5px 2px 10px;
        min-height: 34px;
    }

    &.box.has-selection .category-drop-header {
        background: rgba(20, 19, 59, 0.1) !important;

        .d-icon {
            color: #646464 !important;
        }
    }
}

.topic-list th:first-of-type,
.topic-list td:first-of-type {
    padding-left: 0;
}

.topic-list th:last-of-type,
.topic-list td:last-of-type {
    padding-right: 0;
}