@import "common/foundation/variables";

button.btn {
  background: #16153c;
  color: white;
  border-radius: 4px;

  .d-icon {
    color: white;
  }
}

button.btn:active {
  background: lighten($color: #16153c, $amount: 10);
  color: white;
}

button.btn-primary,
button.btn-icon-text,
a.btn,
a.btn-primary {
  &.new-private-message {
    img {
      g {
        fill: white;
      }
    }
  }

  .svg-icon {

    path,
    g {
      fill: white;
      stroke: white;
    }
  }
}

#imtoken-qrcode {
  width: 1000px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  align-items: center;
  padding-top: 50px;

  .description {
    flex: 1;
    margin: 30px;
    border-left: 1px solid #e7e7ea;
    background: white;
    padding-left: 60px;

    ul {
      li {
        margin: 10px 0;
      }
    }
  }

  .qrcode-wrap {
    margin: 10px;
    margin-right: 30px;
  }

  .login-via-imtoken {
    display: none;
  }
}


.select-kit.combo-box.category-drop .category-drop-header {
  border-radius: 4px;
}

.nav-pills>li.active>a,
.nav-pills>li>a.active {
  border-radius: 4px;

  &:hover,
  &:active,
  &:focus {
    border-radius: 4px;
  }
}

.topic-list {
  td {
    .relative-date {
      font-size: $font-down-1;
    }

    &.num a.badge-posts {
      font-size: $font-0;
      background: rgba(20, 19, 59, 0.1);
      padding: 4px 8px;
      border-radius: 4px;
      color: #919191 !important;

      a {
        padding: 0;

        span {
          font-size: $font-down-1;
        }
      }
    }

    &.num>.number {
      padding: 4px 8px;
      border-radius: 4px;
    }
  }
}

.badge-wrapper.box span.badge-category-bg,
.badge-wrapper.box span.badge-category-parent-bg {
  border-radius: 4px;
}


.badge-wrapper.box span.badge-category-parent-bg {
  width: 100%;
  border-radius: 4px;
}

.badge-wrapper.box span.badge-category-parent-bg+.badge-category-bg+.badge-category {
  margin-left: 0;
}

.select-kit.combo-box .select-kit-filter {
  display: none;
}

#reply-control .submit-panel {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid rgba(22, 21, 60, 0.15);
  padding-bottom: 10px;

  .save-or-cancel {
    flex-basis: unset;
    flex: 1;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: flex-end;

    .cancel {
      color: rgba($color: #16153c, $alpha: 0.5);
    }
  }
}

#reply-control .submit-panel .save-or-cancel #draft-status,
#reply-control .submit-panel .save-or-cancel #file-uploading {
  margin: 0;
}

.tokenfans-lock {
  position: relative;
  top: 2px;
  margin-right: 4px;

  path,
  rect,
  circle {
    stroke: white;
  }
}

.user-menu {
  .panel-body {
    .user {
      img {
        border-radius: 50%;
      }
    }
  }
}

.nav-pills>li>a {
  color: #16153c;

  &:hover {
    color: #16153c;
    background-color: rgba(20, 19, 59, 0.05);
  }
}

.nav-pills>li.active>a,
.nav-pills>li>a.active {
  background-color: rgba(20, 19, 59, 0.1);
  color: #16153c;
}

.menu-panel.slide-in {
  border-radius: 4px;
}

.composer-fields {
  border-bottom: 1px solid #e9e9e9;
  padding: 4px 0px 0px;

  input,
  .select-kit.combo-box .select-kit-header {
    border: 0px;
    outline: none;
  }
}

.d-editor-container {
  .d-editor-textarea-wrapper {
    border: 0px;
  }
}

.menu-panel.drop-down {
  border-radius: 8px;
}

.user-menu {
  .panel-body {
    height: auto !important;
  }

  .notifications {
    display: block;
    max-height: 300px;
    overflow-y: scroll;

    li {
      padding: 0.5em !important;
    }
  }
}

.bootbox.modal {
  border-radius: 8px;
  outline: none;

  .modal-footer {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

#reply-control .reply-to {
  border-bottom: 1px solid #e9e9e9;
  padding-bottom: 8px;

  .d-icon {
    color: #16153c;
    width: 1.5em;
    height: 1.5em;
  }

  .composer-controls {
    display: unset;
  }
}

#reply-control {
  .grippie {
    display: none;
  }

  border-top-left-radius: 8px;
  border-top-right-radius: 8px;

  .open.edit-title {
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
  }
}

input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus {
  border-color: unset;
  box-shadow: unset;
}

#reply-control #reply-title {
  border-right: 1px solid #c8c8c8;
}

.edit-title .d-editor-preview-wrapper {
  margin-top: 8px;
}

.topic-list th:last-of-type,
.topic-list td:last-of-type {
  text-align: right;
}

tbody {
  border-width: 1px;

  tr {
    border-width: 1px;
  }
}

// #reply-control .user-selector.with-preview, #reply-control .title-and-category.with-preview {
//   width: unset;
// }